@import "../global";

.navbar {
    background-color: $accentColor;
    position:absolute;
    top: 0;
    left: 0;
}

.right ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0;
    padding: 0; 
}
